In [19]:
# 개발환경 설정
# 아나콘다 설치, 주피터 설치
# What is Data, Data Amalysis, Data Mining?
# What is Big Data(3V, Volume, Variety, Velocity)?
# Big Data 분석방법 : 1) EDA(탐색적 데이터 분석)
#                     2) Machine Learning
#                     3) Deep Learning
# Why Python?
# 데이터 분석에서 가장 좋은 언어는 파이썬이다!
# 쉽고, 데이터 처리에 특화되어 있다.
# Number(숫자), String(문자열), List(리스트), Tuple(튜플), Dictionary(폴더), Set(집합), Bool(논리)

In [45]:
# Python Data Type
# Number
a = 1 # 정수
b = 3.14 # 실수
b = a + b 
c = 3.14E10 # 지수
d = 1 + 2j # 복소수
e = 0o34 # 8진수
f = 0xAB # 16진수
print(b)
print(c)
print(d)
print(e)
print(f)

div = 3 / 4
result = 3**3 # 제곱
result

4.140000000000001
31400000000.0
(1+2j)
28
171

27

In [47]:
result = 10 % 3 # 나머지
result

1

In [49]:
result = 10 // 3 # 몫
result

3

In [68]:
# Python의 문자열
word = "hello" + " "+ "jichan"
c = "hello\nworld"
print(c)

hello
world

In [84]:
c = """이것은
소리없는
아우성"""
d = '''이것은
소리없는
아우성'''
print(d)

이것은
소리없는
아우성

In [151]:
#문자열 연산
print(c + d)
print(c * 3)
first = "Hello"
last = "World"
print(first+" " + last)

a = "Talk is cheap, Show me the Code"
print(a[1:5]) # slicing
print(a[-1]) # indexing
print(a[0]) # indexing
a[:9] # 처음부터
a[10:] # 끝까지
a[:] # 전체 문자열

이것은
소리없는
아우성이것은
소리없는
아우성
이것은
소리없는
아우성이것은
소리없는
아우성이것은
소리없는
아우성
Hello World
alk
e
T

'Talk is cheap, Show me the Code'

In [180]:
# 문자열 formatting

a = "나는 사과를 %d개 가지고 있어요!!" %10
b = "나는 사과를 %s개 가지고 있어요!!" %"두"
a
b
c = "나는 사과 %d개 바나나 %d개" %(3, 5)
c
d = "에러율은 %d%%입니다" % 90
d
f = "나는 사과를 %10d 개" %10
f
e = "%10.4f" % 3.1415926535 # 소수점 5자리에서 반올림
e

'    3.1416'

In [201]:
# 문자열 함수
a = "     cocaCola "
b = len(a) # 문자열 길이
b
a.count("co") # 해당 문자열 개수 출력
a.find("cola") # 첫번째 나온 값의 인덱스값, 없으면 -1
a.index("o") # 첫번째 나온 값의 인덱스값, 없으면 에러
a.upper() # 대문자로
a.lower() # 소문자로
a.strip() # 양쪽 공백제거

'cocaCola'

In [213]:
a = "Talk is cheep. show me Code"
a.replace("Code", "money") # 새로운 문자열이 만들어 잠
a.split() # 공백으로 숫자로 믄자열 나뭇잎에서

a = "a:b:c:d:e"
a.split(":")

a = "사과를 {0}개, 바나나를 {1}".format(3, 10)
a
a = "{0:0.4f}".format(3.141592)
a

'3.1416'

In [231]:
#Python List
a = list()
a = [1, 2, 3, 4, 5]
a = [1, 2.14, "hello", True, 5]
a = [1,2, ["show", "me", "the", "money"], 3.14]
a[2][0]
a[-1]
a[0:2]

[1, 2]

In [249]:
#list의 연산
a = [1, 2, 3]
b = [4, 5 ,6]
a + b
a * 3


str(a[0]) + "Hello"

a = [1, 2, 3, 4, 5]
a[0] = 6
a[0] = [7,8,9]
a  # [[7, 8, 9], 2, 3, 4, 5]
a[0:1] = [7,8,9] # [7, 8, 9, 2, 3, 4, 5]
a = [1, 2, 3, 4, 5]
a[1:3] =[]
a # [1, 4, 5]
del a[0] # 특정 인덱스를 날려버림
a # [4, 5]

[4, 5]

In [276]:
# list의 함수
a = [1, 2, 3 ,4]
a.append(1) # 맨끝에 특정요소 추가
a # [1, 2, 3, 4, 1]
a.append([1, 2, 3]) # 맨끝에 특정요소 추가
a # [1, 2, 3, 4, 1, [1, 2, 3]]

a = [7,4,9, 2, 8]
a.sort()
a #[2, 4, 7, 8. 9]
result = a
result

a.reverse() # 내림차순이 아닌 역으로 뒤집음
a # [9, 8, 7, 4, 2]

a = [1, 2, 3]
a.insert(0, -1)
a # [-1, 1, 2, 3] 특정인덱스에 특정값을 삽입
a = [1, 2, 3, 1, 2, 3, 1, 2]
a.remove(3) # 처음나온 3을 지워라
a

a.pop() # 2
a # [1, 2, 1, 2, 3, 1]

a = [1, 2, 3]
a.pop(1) # 2
a # [1, 3]

a = [1, 2 , 3]
a.extend([5, 6, 7]) # [1, 2, 3, 5, 6, 7]
a

False

In [283]:
# list의 복사
a = [1, 2, 3] # 레퍼런스 객체
b = a # 같은 레퍼런스를 참고하라
a is b # a와 b가 같니? 같으면 True, 다르면 False
a is not b # 같지않니?

a = [1, 2, 3]
b = a[:] # 새로운객체
a is b # 두개의 객체는 서로 다른 레퍼런스 주소를 가지고있다

a == b # 내용이 같냐??????

from copy import copy # 다른 외부 라이브러리를 쓰겠다
import copy
import copy as cp # 별칭주기
a = [1, 2 ,3]
b = cp.copy(a)

In [310]:
# Tuple, 깂의 수정, 삭제가 불가능!!!
a = (1, 2, 3) # 인덱싱, 슬라이싱, 연산은 가능!
a # 리스트랑 비슷함 수정이 안되는것 빼곤 (1, 2, 3)
a = (100) # 원소 하나는 튜플이 아닌 하나의 객체로봄
a # 100
type(a) # int

a = (100, ) # 튜플로 인식하게 하기위해 콤마를 찍어줌
type(a) # tuple
a = (1, 2, 3, 4, 5, 6)
a = 1, 2, 3, 4, 5, 6 # 소괄호를 생략해도 튜플로 인식함
a
type(a) # tuple

a, b = [1, 2]
type(a) # int
a # 1

a, b, c = 1, 2, [1,3] # 튜플을 이용해서 객체에 어사인함
c
a = (1, 2, 3, [1, 2], (3,4))
a[3][0] = 3 # 튜플은 변경이 안되지만 튜플안에 있는 리스트는 변경이 가능함
a
a[0:2] # 슬라이싱 할때는 대괄호를 사용함


a = (1, 2, 3)
b = (4, 5, 6)
a + b # 새로운 튜플이 생겨나는것 a와 b 가 변하는게 아니어서 연산은 가능함
# 변경이 안되기때문에 안전하게 사용가능함

(1, 2, 3, 4, 5, 6)

In [330]:
# Dictionary (map, hash, 연관배열로 구성되어 있고 일반적으로 해쉬, 맵의 개념으로 이해)
a = {} # dict
a = {"name":"홍길동", "age":30, "address":"서울"} # json  형식으로 표현, 순서에 상관없이 표현할 수 있다.
a
type(a) # dict
a["name"] # '홍길동'
a["age"] # 30 key로 value를 얻어내고 싶을때
a["gender"] = "남" # 새로운 키를 추가 하고 싶을때
a # {'address': '서울', 'age': 30, 'gender': '남', 'name': '홍길동'}
a["age"] = 26 # 기존키값의 밸류 변경할때
a # {'address': '서울', 'age': 26, 'gender': '남', 'name': '홍길동'}

del a["address"] # 키값을 이용해서 삭제가능
a # {'age': 26, 'gender': '남', 'name': '홍길동'}

a = {"name":"홍길동", "age":30, "address":"서울", "address":"경남"} # 중복되는 키값은 나올수 없다
a # {'address': '경남', 'age': 30, 'name': '홍길동'}

{'address': '경남', 'age': 30, 'name': '홍길동'}

In [361]:
# Dictionary 함수
a = {"name":"홍길동", "age":30, "address":"서울"}
a.keys() # 데이터타입은 리스트가 아닌 dict_keys(['age', 'address', 'name']) list는 아니다 dict_keys
a.values() # dict_values([30, '서울', '홍길동']) list는 아니다 dict_values, list처럼 생겼을뿐...
a.items() # 모든쌍들을 튜플로 만듬 dict_items([('age', 30), ('address', '서울'), ('name', '홍길동')]), 리스트는 아니지만 각각은 튜플로 들어감

# 반복함수
for key in a.keys(): # for key<에 담아서> in<안에 있을동안> <어디에>
    print("key:{0}, value:{1}".format(key,a[key])) # 들여 쓰기로 반복문 구분함

a["address"] # 방법 1
a.get("hobby") # 방법 2
a.get("hobby", "game") # 방법 2 hobby값이 없으면 game 으로 초기값 설정할 수 있다.

"name" in a # key가 있는지 확인 T or F
"name" not in a #key가 없는지 확인
a.clear() #딕셔너리 안에있는 값 싹다 날림
a

key:age, value:30
key:address, value:서울
key:name, value:홍길동

{}

In [362]:
# Bool
# True, False 두개의 예약어가 존재
# False로 간주되는것
# ""(빈문자열), [](빈리스트), ()(빈튜플), {}(빈딕트), 숫자 0, None

In [382]:
# 집합 (Set)
# 자료구조이고 순서가 없고, 중복이 없다.
a = {1, 2, 3} # 키와 쌍이없는 딕셔너리
type(a) # set
a # {1, 2, 3}
a= {1, 2, 1, 2, 3}
a # {1, 2, 3}
a = set([1, 2, 3, 4, 5, 5, 4]) # 리스트를 셋으로 형변환, 중복배제
a # {1, 2, 3, 4, 5}
a = {5, 9, 1, 2, 3, 7, 6, 4} 
a # {1, 2, 3, 4, 5, 6, 7, 9}
a = set("Hello")
a # {'H', 'e', 'l', 'o'}

s1 = set([1,2,3,4,5])
s2 = set([1,2,3,4,5,6,7])
s1 & s2 # set에대한 교집합
s1 ^ s2 # set에대한 합집합에서 교집합 뺀값
s1 | s2 # set에대한 합집합
s2 - s1 # set에대한 차집합

s1.add(10) # set에 요소 추가
s1.update([11, 12, 13]) # set에 여러개 추가
s1.remove(3)
s1

{1, 2, 4, 5, 10, 11, 12, 13}

In [392]:
# if 문의 형태
area = ["서울", "수원", "인천"]
if "제주" in area:
    print("멋지다")
elif "서울" in area:
    print("안멋지다")
else:    
    pass # 아무것도 하지말아라

안멋지다

In [403]:
# for문의 형태
score = [100, 70, 80, 40, 50]
sum = 0
avg = 0
for a in score:
    sum += a
avg = sum / 5
avg

sum = 0
for a in range(5):
    sum += score[a]

for a in range(len(score)):
    print(sum)

340
340
340
340
340

In [412]:
number = "7652310"
size = len(number) // 2
a = number[0:size]
b = number[size+1:]
result = int(a) + int(b)
result

1075

In [476]:
number = "7653102"
size = len(number) // 2
a = number[0:size]
b = number[size+1:]
result = int(a) + int(b)
result

a = int(a[::-1])
b = int(b[::-1])

if a>b:
    print(a-b)
else:
    print(b-a)

366

In [482]:
list = [1,2,3,4,5,6,7,8]

score1 = [tmp * 2 for tmp in list] # 리스트 만들때 반복문 가능
score1 # [2, 4, 6, 8, 10, 12, 14, 16]

score2 = [tmp * 2 for tmp in list if tmp>5] # 반복문, 조건문 조합 가능
score2

[12, 14, 16]

In [487]:
#힘수정의
def my_sum(a,b,c):
    return a+b+c

result = my_sum(10,20,30)
result

60

In [493]:
def my_sum(*a): # 인자가 몇개들어올진 모르지만 리스트로 받는다
    sum = 0
    for i in range(len(a)):
        sum += a[i]
    return sum

result = my_sum(10,20,30,40,50) # 튜플형태로 전달이됨
result

150

In [499]:
def multi_return(a, b):
    result1 = a + b
    result2 = a * b
    return result1, result2 # 튜플로 리턴 복수개 (리턴값이 두개인게 아니다)
multi_return(1, 2)

sum, mul = multi_return(10, 20) # 복수개 담기
mul

200

In [516]:
# Module : 함수, 혹은 변수, class들을 모아놓은 파일
# 모듈은 특정폴더 안에 있어야 찾을수 있다.
# 작업공간에서는 모듈을 불러올 수있다 working directory 에서는 module을 불러 올 수 있다.
# 특정폴더를 라이브러리로 작업하고 싶다
import sys
sys.path.append("C:/python_Lib") # 라이브러리 폴더안에 경로 넣는다
# 환경변수 PYTHONPATH를 생성한 후 모듈을 저장한 폴더를 설정 해도 import 할수 있다.
#import module1 모듈에서 다갖고올거야
#import module1 as m1 모듈에서 갖고오는데 별칭을 정할거야
#from module1 import PI
#from module1 import sum # sum을 이름만 가지고 쓰겠어
from module1 import * # 모든것을 이름만 가지고 쓰겠어
#print(module1.sum(30, 20))
#print(module1.PI)
print(PI)
print(sum(30,20))
#print(m1.sum(30, 20))
#print(m1.PI)

3.141592
50

In [520]:
# 이렇게 모듈을 만들어서 사용하는건 좋은데
# 종류가 너무많으면 지저분하니 분류해서 저장하는게 좋을듯 하다.
# 관련있는 모듈을 폴더형태로 계층구조로 관리하는게 좋다.
# 패키지형태로 되어있는 모듈은 당연히 풀패키지명을 이용해서 불러낸다.
import myFolder.myModule.module1 as m1 # 이름 줄이기
print(m1.PI)
from myFolder.myModule import module1 # 이름으로 쓰기
from myFolder.myModule.module1 import PI # 이름으로 쓰기
from myFolder.myModule import * # 모든것 이름으로 그냥쓰기
print(module1.sum(20, 30))
print(PI)

3.141592
50
3.141592

In [1]:
# 대표적 절차적언어 C언어
# 큰단위에서 작은단위로
# ex) 은행 > 외환업무, 예금업(입금업무, 출금업무, 마이너스 통장개설 등), 대출업무, 보험업무
# 장점 : 단위프로그래밍하기 쉽게되어있다. 문제를 분석하기 쉽다. 구현이 용이하다
# 단점 : 유지보수가 어렵다. 코드관리가 어렵다
# 1990년대 인터넷보급으로인한 정보량이증가
# - 프로그램에대한 유지보수 요구사항이 증가
# 객체지향 바람이 불기 시작
# 현실세계를 그대로 반영한 객체지향 언어
# 문제를 구성하는 요소들을 파악해서 그요 요소들간의 데이터 흐름을 프로그램적으로 표현(객체 모델링)
# 은행 : 고객, 계좌, 지점, .....

#계좌라는 개념을 프로그램으로 어떻게 표현할 것인가?
# 계좌 : 상태(계좌주 이름, 현재 잔액), 행동(입금, 출금)
# 추상화(abstraction)과정을 통해서 프로그램적으로 표현 > 객체 모델링 (class 객체모델링의 수단)
# 표현 > 객체 모델링 > 객체 모델링 수단 > class

In [9]:
class Car: # 파스칼 스타일 첫문자도 대문자, 언더바로 속성구분함(C 스타일)
    # field(속성, 상태, 변수)
    car_current_speed = 0
    car_remain_fuel = 0
    
    #method
    #클래스 내부 메서드는 self를 인자로 넣어줗어야함
    def insert_gas(self, gas_amount):
        self.car_remain_fuel += gas_amount
        
    def __init__(self, f):
        self.car_remain_fuel = f

car1 = Car(100)
car1.insert_gas(200)
car1.car_current_speed
car1.car_remain_fuel

300